services:
  web:
    build:
      context: ./ToDo
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - todo_db:/app/data
    expose:
      - "5000"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data

  certgen:
    image: alpine
    volumes:
      - certs:/certs
    entrypoint: >
      sh -c "
      apk add --no-cache openssl &&
      mkdir -p /certs &&
      openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
        -keyout /certs/key.pem \
        -out /certs/cert.pem \
        -subj '/CN=localhost'
      "
    restart: "no"

  nginx:
    image: nginx:alpine
    ports:
      - "8443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - certs:/etc/nginx/certs:ro
    depends_on:
      - web
      - certgen

volumes:
  todo_db:
  redis_data:
  certs:
