apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: todo
spec:
  serviceName: redis-headless
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
          volumeMounts:
            # Redis persists its database under /data, so we mount a PVC there.
            - name: redis-data
              mountPath: /data
  # volumeClaimTemplates automatically creates a PVC for each pod replica.
  # For replica 1, the PVC will be named redis-data-redis-0.
  volumeClaimTemplates:
    - metadata:
        name: redis-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
