apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: todo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: todo-web:dev
          imagePullPolicy: IfNotPresent
          env:
            - name: REDIS_HOST
              value: redis
            - name: REDIS_PORT
              value: "6379"
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: web-data
              mountPath: /app/data
      volumes:
        - name: web-data
          persistentVolumeClaim:
            claimName: web-data
